.frame_class_userlist { height: 50px; left: -7px; width: 50px; position: absolute; top: -6px; }
.frame_class_chat { height: 55px; left: -7px; width: 55px; position: absolute; top: -9px; }
.frame_class_pm { height: 48px;left: -6px;width: 41px;position: relative;bottom: 42px; }